{{ $color := "light" }}
{{ if eq .chezmoi.os "darwin" -}}
{{ if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "false" -}}
{{ $color = "light" }}
{{ else if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "true" -}}
{{ $color = "dark" }}
{{ end -}}
{{ else -}}
{{ if eq (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim) "'prefer-light'" -}}
{{ $color = "light" }}
{{ else if eq (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim) "'prefer-dark'" -}}
{{ $color = "dark" }}
{{ end -}}
{{ end -}}

{{ if eq $color "dark" }}
k9s:
  body:
    fgColor: '#e0def4'
    bgColor: '#191724'
    logoColor: '#c4a7e7'
  prompt:
    fgColor: '#e0def4'
    bgColor: '#1f1d2e'
    suggestColor: '#9ccfd8'
  help:
    fgColor: '#e0def4'
    bgColor: '#191724'
    sectionColor: '#31748f'
    keyColor: '#9ccfd8'
    numKeyColor: '#ebbcba'
  frame:
    title:
      fgColor: '#31748f'
      bgColor: '#191724'
      highlightColor: '#c4a7e7'
      counterColor: '#f6c177'
      filterColor: '#31748f'
    border:
      fgColor: '#c4a7e7'
      focusColor: '#9ccfd8'
    menu:
      fgColor: '#e0def4'
      keyColor: '#9ccfd8'
      numKeyColor: '#ebbcba'
    crumbs:
      fgColor: '#191724'
      bgColor: '#c4a7e7'
      activeColor: '#ebbcba'
    status:
      newColor: '#9ccfd8'
      modifyColor: '#9ccfd8'
      addColor: '#31748f'
      pendingColor: '#eb6f92'
      errorColor: '#eb6f92'
      highlightColor: '#ebbcba'
      killColor: '#c4a7e7'
      completedColor: '#908caa'
  info:
    fgColor: '#eb6f92'
    sectionColor: '#e0def4'
  views:
    table:
      fgColor: '#e0def4'
      bgColor: '#191724'
      cursorFgColor: '#1f1d2e'
      cursorBgColor: '#191724'
      markColor: '#c4a7e7'
      header:
        fgColor: '#f6c177'
        bgColor: '#191724'
        sorterColor: '#ebbcba'
    xray:
      fgColor: '#e0def4'
      bgColor: '#191724'
      cursorColor: '#524f67'
      cursorTextColor: '#191724'
      graphicColor: '#c4a7e7'
    charts:
      bgColor: '#191724'
      chartBgColor: '#191724'
      dialBgColor: '#191724'
      defaultDialColors:
        - '#31748f'
        - '#eb6f92'
      defaultChartColors:
        - '#31748f'
        - '#eb6f92'
      resourceColors:
        cpu:
          - '#c4a7e7'
          - '#9ccfd8'
        mem:
          - '#f6c177'
          - '#eb6f92'
    yaml:
      keyColor: '#9ccfd8'
      valueColor: '#e0def4'
      colonColor: '#908caa'
    logs:
      fgColor: '#e0def4'
      bgColor: '#191724'
      indicator:
        fgColor: '#9ccfd8'
        bgColor: '#191724'
        toggleOnColor: '#31748f'
        toggleOffColor: '#908caa'
  dialog:
    fgColor: '#f6c177'
    bgColor: '#6e6a86'
    buttonFgColor: '#191724'
    buttonBgColor: '#e0def4'
    buttonFocusFgColor: '#191724'
    buttonFocusBgColor: '#c4a7e7'
    labelFgColor: '#ebbcba'
    fieldFgColor: '#e0def4'
{{ else }}
k9s:
  body:
    fgColor: '#575279'
    bgColor: '#faf4ed'
    logoColor: '#907aa9'
  prompt:
    fgColor: '#575279'
    bgColor: '#fffaf3'
    suggestColor: '#56949f'
  help:
    fgColor: '#575279'
    bgColor: '#faf4ed'
    sectionColor: '#286983'
    keyColor: '#56949f'
    numKeyColor: '#d7827e'
  frame:
    title:
      fgColor: '#286983'
      bgColor: '#faf4ed'
      highlightColor: '#907aa9'
      counterColor: '#ea9d34'
      filterColor: '#286983'
    border:
      fgColor: '#907aa9'
      focusColor: '#56949f'
    menu:
      fgColor: '#575279'
      keyColor: '#56949f'
      numKeyColor: '#d7827e'
    crumbs:
      fgColor: '#faf4ed'
      bgColor: '#907aa9'
      activeColor: '#d7827e'
    status:
      newColor: '#56949f'
      modifyColor: '#56949f'
      addColor: '#286983'
      pendingColor: '#b4637a'
      errorColor: '#b4637a'
      highlightColor: '#d7827e'
      killColor: '#907aa9'
      completedColor: '#797593'
  info:
    fgColor: '#b4637a'
    sectionColor: '#575279'
  views:
    table:
      fgColor: '#575279'
      bgColor: '#faf4ed'
      cursorFgColor: '#fffaf3'
      cursorBgColor: '#faf4ed'
      markColor: '#907aa9'
      header:
        fgColor: '#ea9d34'
        bgColor: '#faf4ed'
        sorterColor: '#d7827e'
    xray:
      fgColor: '#575279'
      bgColor: '#faf4ed'
      cursorColor: '#cecacd'
      cursorTextColor: '#faf4ed'
      graphicColor: '#907aa9'
    charts:
      bgColor: '#faf4ed'
      chartBgColor: '#faf4ed'
      dialBgColor: '#faf4ed'
      defaultDialColors:
        - '#286983'
        - '#b4637a'
      defaultChartColors:
        - '#286983'
        - '#b4637a'
      resourceColors:
        cpu:
          - '#907aa9'
          - '#56949f'
        mem:
          - '#ea9d34'
          - '#b4637a'
    yaml:
      keyColor: '#56949f'
      valueColor: '#575279'
      colonColor: '#797593'
    logs:
      fgColor: '#575279'
      bgColor: '#faf4ed'
      indicator:
        fgColor: '#56949f'
        bgColor: '#faf4ed'
        toggleOnColor: '#286983'
        toggleOffColor: '#797593'
  dialog:
    fgColor: '#ea9d34'
    bgColor: '#9893a5'
    buttonFgColor: '#faf4ed'
    buttonBgColor: '#575279'
    buttonFocusFgColor: '#faf4ed'
    buttonFocusBgColor: '#907aa9'
    labelFgColor: '#d7827e'
    fieldFgColor: '#575279'
{{ end }}
