[Appearance]
ColorScheme=BlackOnWhite
Font=Source Code Pro,16,-1,5,50,0,0,0,0,0

[General]
Name=light
Parent=FALLBACK/

[Interaction Options]
AutoCopySelectedText=true

[Scrolling]
HistoryMode=2
ScrollBarPosition=2
