set -s escape-time 0
set-option -g default-terminal "xterm-256color"
set-option -ga terminal-overrides ",xterm-256color:Tc"

{{ $color := "light" }}
{{ if eq .chezmoi.os "darwin" -}}
{{ if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "false" -}}
{{ $color = "light" }}
{{ else if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "true" -}}
{{ $color = "dark" }}
{{ end -}}
{{ else -}}
{{ if eq (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim) "'prefer-light'" -}}
{{ $color = "light" }}
{{ else if eq (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim) "'prefer-dark'" -}}
{{ $color = "dark" }}
{{ end -}}
{{ end -}}

set -g prefix M-q
bind M-t send-prefix

set -g mouse on
bind -n WheelUpPane if -F '#{alternate_on}' 'send-keys Up' 'if -F "#{mouse_any_flag}" "send -M" "copy-mode -e; send-keys -M"'
bind -n WheelDownPane if -F '#{alternate_on}' 'send-keys Down' 'send-keys -M'

set-option -g status-interval 5
set-option -g automatic-rename on
set-option -g automatic-rename-format '#{b:pane_current_path}#{?#{==:#{pane_current_command},fish},, › #{pane_current_command}}'

bind h split-window -h -c "#{pane_current_path}"
bind v split-window -v -c "#{pane_current_path}"

set-hook -g after-split-window 'select-layout -E'
set-hook -g pane-exited 'select-layout -E'

bind -n M-h select-pane -L
bind -n M-j select-pane -D
bind -n M-k select-pane -U
bind -n M-l select-pane -R

bind -n M-t new-window -a -c "#{pane_current_path}"
bind -n M-r next-window
bind -n M-n previous-window

bind -n M-Space copy-mode

set -g visual-activity off
set -g visual-bell off
set -g visual-silence off
setw -g monitor-activity off
set -g bell-action none
set -g focus-events on

# Status bar styling
{{ if eq $color "light" }}
set-option -g status-style bg=#fffaf3,fg=#575279
set -g status-right "#[fg=#c4a7e7]%H:%M #[fg=default]· #[fg=#9ccfd8]%d %b "
set -g window-status-current-style fg=#fffaf3,bg=#286983,bold
set -g window-status-current-format "#[fg=#fffaf3,bg=#286983,bold] #W #[default]"
set -g window-status-format " #W "
set -g window-status-activity-style fg=#ea9d34
set -g window-status-bell-style fg=#c4a7e7
set -g pane-border-style fg=#f2e9e1
set -g pane-active-border-style fg=#286983
set -g message-style bg=#fffaf3,fg=#286983
set -g message-command-style bg=#fffaf3,fg=#56949f
set -g display-panes-active-colour "#286983"
set -g display-panes-colour "#9893a5"
set -g clock-mode-colour "#286983"
set -g mode-style bg=#f2e9e1,fg=#575279
{{ else }}
set-option -g status-style bg=#1f1d2e,fg=#e0def4
set -g status-right "#[fg=#c4a7e7]%H:%M #[fg=default]· #[fg=#9ccfd8]%d %b "
set -g window-status-current-style fg=#1f1d2e,bg=#31748f,bold
set -g window-status-current-format "#[fg=#1f1d2e,bg=#31748f,bold] #W #[default]"
set -g window-status-format " #W "
set -g window-status-activity-style fg=#f6c177
set -g window-status-bell-style fg=#c4a7e7
set -g pane-border-style fg=#26233a
set -g pane-active-border-style fg=#31748f
set -g message-style bg=#1f1d2e,fg=#31748f
set -g message-command-style bg=#1f1d2e,fg=#9ccfd8
set -g display-panes-active-colour "#31748f"
set -g display-panes-colour "#908caa"
set -g clock-mode-colour "#31748f"
set -g mode-style bg=#26233a,fg=#e0def4
{{ end }}
set -g status-position top
set -g status-justify left
set -g status-left-length 50
set -g status-right-length 100
set -g status-left ''
set -g window-status-separator ''
set -g display-panes-time 2000
set -g clock-mode-style 24

set -q mode-key vi
bind-key -T copy-mode-vi WheelUpPane send-keys -X scroll-up
bind-key -T copy-mode-vi WheelDownPane send-keys -X scroll-down
