configuration {
	font: "Iosevka Nerd Font Mono 14";
	ssh-command: "alacritty -t "SSH > {host}" -e /bin/zsh -c 'source /home/sacha/.zshrc; {ssh-client} {host}'";
	disable-history: true;
	parse-known-hosts: false;
	hide-scrollbar: true;
}
@theme "gruvbox-dark"
