{{- $wsl := eq (includeTemplate "is-wsl" .) "true" -}}
fish
fisher
chezmoi
tmux
fzf
zoxide
fd
ripgrep
eza
bat
yazi
the_silver_searcher
less
curl
jq
go-yq
ijq
htop
httpie

git
git-delta
difftastic
gitu
git-lfs
age
github-cli

neovim
base-devel
tree-sitter-cli
gopls
lua-language-server
rust-analyzer
tinymist
yaml-language-server
zls
ruff
stylua
shfmt
yamlfmt
prettier

go
rustup
nodejs
npm
bun
zig
typst

kubectl
kubie
k9s
helm
krew
opentofu
go-task

gnupg
openssh
{{ if $wsl }}
socat
{{ else }}
yubikey-manager
libfido2
pinentry

firefox
rio
fuzzel
wlsunset
xwayland-satellite
pavucontrol
wl-clipboard
gnome-themes-extra
{{ end -}}
