{{- $wsl := eq (includeTemplate "is-wsl" .) "true" -}}
{{/* Developer tooling */}}
sesh-bin
basedpyright-bin
tofu-ls-bin
kubecolor
lfk-bin
helm-ls-bin

{{/* Cloud services */}}
aws-iam-authenticator-bin
aws-session-manager-plugin
claude-code
google-cloud-cli
google-cloud-cli-bq
{{ if $wsl }}
{{/* WSL integration */}}
wslu
{{ else }}
{{/* Linux desktop */}}
ghostty-ergol
nvibrant-bin
ttf-geist-mono
{{ end -}}
