[Match]
Name={{ network.interface }}

[Network]
{% if network.dhcp == True %}
DHCP=ipv4
{% else %}
Address={{ network.ip }}/{{ network.cidr }}
Gateway={{ network.gateway }}
{% for server in network.dns %}
DNS={{ server }}
{% endfor %}
IPv6AcceptRA=true
{% endif %}