{{- $scheme := includeTemplate "color-scheme" . | trim -}}
{{- $palette := includeTemplate "theme-palette" . | fromYaml -}}
{{- $c := index $palette $scheme -}}
[init]
	defaultBranch = main

# Not core.pager on purpose; only gdd opts in.
[delta]
	navigate = true
	line-numbers = true
	hyperlinks = true
	syntax-theme = theme-{{ $scheme }}
	light = {{ eq $scheme "light" }}
	minus-style = "syntax {{ includeTemplate "hex-blend" (dict "a" $c.red "b" $c.black1 "w" 18) }}"
	minus-emph-style = "syntax {{ includeTemplate "hex-blend" (dict "a" $c.red "b" $c.black1 "w" 40) }}"
	plus-style = "syntax {{ includeTemplate "hex-blend" (dict "a" $c.green "b" $c.black1 "w" 18) }}"
	plus-emph-style = "syntax {{ includeTemplate "hex-blend" (dict "a" $c.green "b" $c.black1 "w" 40) }}"
	line-numbers-minus-style = "{{ $c.red }}"
	line-numbers-plus-style = "{{ $c.green }}"
	line-numbers-zero-style = "{{ $c.black4 }}"
	file-style = "bold {{ $c.magenta }}"
	file-decoration-style = "{{ $c.black3 }} ul"
	hunk-header-style = "file line-number syntax"
	hunk-header-decoration-style = "{{ $c.black3 }} box"
	commit-decoration-style = "{{ $c.black3 }} box"
	whitespace-error-style = "{{ $c.black1 }} reverse {{ $c.red }}"

[diff]
	algorithm = histogram
	renames = true

[log]
	date = iso

{{ if eq .chezmoi.os "darwin" -}}
[credential]
    helper = osxkeychain
{{ else if eq (includeTemplate "is-wsl" .) "true" -}}
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
{{ end -}}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
    autoSetupRemote = true

[rerere]
	enabled = true
	
[column]
	ui = auto

[branch]
	sort = -committerdate

[fetch]
	writeCommitGraph = true

[commit]
	gpgsign = true

[merge]
    conflictStyle = zdiff3

[url "ssh://git@github.com/tsacha"]
	insteadOf = https://github.com/tsacha

[include]
	path = ~/.gitconfig.work
