[init]
	defaultBranch = main

{{ if eq .chezmoi.os "darwin" -}}
[credential]
    helper = osxkeychain
{{ end -}}

[alias]
   wclone = "!f() { \
       url=$1; \
       folder=$(basename \"$url\" .git); \
       git clone --bare \"$url\" \"$folder/.git\"; \
       cd \"$folder\"; \
       git config core.bare false; \
       git config remote.origin.fetch '+refs/heads/*:refs/remotes/origin/*'; \
   }; f"
   wadd = "!f() { \
       branch=$1; \
       git worktree add \"$branch\"; \
       git -C \"$branch\" branch -u \"origin/$branch\"; \
   }; f"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
    autoSetupRemote = true

[rerere]
	enabled = true
	
[column]
	ui = auto

[branch]
	sort = -committerdate

[fetch]
	writeCommitGraph = true

[commit]
	gpgsign = true

[merge]
    conflictStyle = zdiff3

[url "ssh://git@github.com/tsacha"]
	insteadOf = https://github.com/tsacha

{{ if stat (joinPath .chezmoi.homeDir ".gitconfig.work") }}
{{ include (joinPath .chezmoi.homeDir ".gitconfig.work") }}
{{ end }}
