{{ $color := "light" }}
{{ if eq .chezmoi.os "darwin" -}}
{{ if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "false" -}}
{{ $color = "light" }}
{{ else if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "true" -}}
{{ $color = "dark" }}
{{ end -}}
{{ else -}}
{{ if eq (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim) "'prefer-light'" -}}
{{ $color = "light" }}
{{ else if eq (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim) "'prefer-dark'" -}}
{{ $color = "dark" }}
{{ end -}}
{{ end -}}

local wezterm = require 'wezterm'
local act = wezterm.action
local config = {}
config.font = wezterm.font({
  family='Monaspace Argon',
  weight='Regular',
  stretch="Normal",
  style="Normal",
  --harfbuzz_features={ 'calt', 'liga', 'dlig', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'ss08' },
})
config.font_rules = {
    --
    -- Italic (comments)
    --
    {
      intensity = 'Normal',
      italic = true,
      font = wezterm.font({
        family="Monaspace Argon",
        weight="Light",
        stretch="Normal",
        style="Italic",
        --harfbuzz_features={ 'calt', 'liga', 'dlig', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'ss08' },
      })
    },

    --
    -- Bold (highlighting)
    --
    {
      intensity = 'Bold',
      italic = false,
      font = wezterm.font({
        family="Monaspace Argon",
        weight="Bold",
        stretch="Normal",
        style="Normal",
        --harfbuzz_features={ 'calt', 'liga', 'dlig', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'ss08' },
      })
    }
}
config.font_size = 16.0

{{ if eq $color "light" }}
local theme = wezterm.plugin.require('https://github.com/neapsix/wezterm').dawn
{{ else }}
local theme = wezterm.plugin.require('https://github.com/neapsix/wezterm').main
{{ end }}
config.window_frame = theme.window_frame()
config.colors = theme.colors()
config.hide_tab_bar_if_only_one_tab = true
config.window_decorations = "RESIZE"

config.window_padding = {
  left = 5,
  right = 5,
  top = 0,
  bottom = 0,
}

config.pane_focus_follows_mouse = true
config.keys = {
  {
    key = 'h',
    mods = 'ALT|SHIFT',
    action = act.SplitHorizontal,
  },
  {
    key = 'v',
    mods = 'ALT|SHIFT',
    action = act.SplitVertical,
  },
  {
    key = 'LeftArrow',
    mods = 'ALT|SHIFT',
    action = act.ActivatePaneDirection 'Left',
  },
  {
    key = 'RightArrow',
    mods = 'ALT|SHIFT',
    action = act.ActivatePaneDirection 'Right',
  },
  {
    key = 'UpArrow',
    mods = 'ALT|SHIFT',
    action = act.ActivatePaneDirection 'Up',
  },
  {
    key = 'DownArrow',
    mods = 'ALT|SHIFT',
    action = act.ActivatePaneDirection 'Down',
  },
  {
    key = 't',
    mods = 'ALT|SHIFT',
    action = act.SpawnTab 'CurrentPaneDomain',
  },
  {
    key = 't',
    mods = 'ALT|SHIFT',
    action = act.SpawnTab 'CurrentPaneDomain',
  },
  {
    key = 'w',
    mods = 'ALT|SHIFT',
    action = wezterm.action.CloseCurrentTab { confirm = true },
  },
  {
    key = 'z',
    mods = 'ALT|SHIFT',
    action = wezterm.action.TogglePaneZoomState,
  },
  {
    key = 'Tab',
    mods = 'ALT',
    action = act.ActivateTabRelative(1)
  },
  {
    key = 'Tab',
    mods = 'ALT|SHIFT',
    action = act.ActivateTabRelative(-1)
  },
}
config.mouse_bindings = {
  -- Scrolling up while holding CTRL increases the font size
  {
    event = { Down = { streak = 1, button = { WheelUp = 1 } } },
    mods = 'CTRL',
    action = act.IncreaseFontSize,
  },

  -- Scrolling down while holding CTRL decreases the font size
  {
    event = { Down = { streak = 1, button = { WheelDown = 1 } } },
    mods = 'CTRL',
    action = act.DecreaseFontSize,
  },
}

return config
