[user]
name = Sacha Trémoureux
email = sacha@tremoureux.fr
[init]
	defaultBranch = main

{{ if eq .chezmoi.os "darwin" -}}
[credential]
    helper = osxkeychain
{{ end -}}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/tsacha/
