{{ if eq .chezmoi.os "darwin" -}}
window-decoration = true
macos-titlebar-style = transparent
macos-option-as-alt = left
fullscreen = true
{{ else -}}
window-decoration = false
gtk-single-instance = true
{{ end -}}

quit-after-last-window-closed = true
window-theme = system
theme = light:rose-pine-dawn,dark:rose-pine
font-family = Monaspace Argon
font-size = 16
focus-follows-mouse = true

keybind = alt+shift+h=new_split:right
keybind = alt+shift+v=new_split:down
keybind = alt+shift+t=new_tab
keybind = alt+shift+left=goto_split:left
keybind = alt+shift+right=goto_split:right
keybind = alt+shift+up=goto_split:up
keybind = alt+shift+down=goto_split:down
keybind = alt+shift+n=increase_font_size:2
keybind = alt+shift+r=decrease_font_size:2

clipboard-read = allow
clipboard-write = allow
clipboard-trim-trailing-spaces = true
clipboard-paste-protection = false
copy-on-select = true

term = xterm
