[Unit]
Description=Picom X11 compositor
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/picom --config %h/.config/picom/picom.conf
Restart=always
RestartSec=5s
