[Unit]
Description=Disable C6 state

[Service]
Type=oneshot
ExecStart=/opt/ZenStates-Linux/zenstates.py --c6-disable

[Install]
WantedBy=default.target
