{{- $scheme := includeTemplate "color-scheme" . | trim -}}
{{- $palette := includeTemplate "ayu-palette" . | fromYaml -}}
{{- $c := index $palette $scheme }}
{{- $base := $c.black1 -}}
{{- $subtle := $c.black5 -}}
{{- $accentAlt := $c.cyan -}}
{{- $accent := $c.magenta -}}
layout {
    gaps 4

    preset-column-widths {
        proportion 0.5
        proportion 0.8
        proportion 1.0
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        width 1

        active-color "{{ $accent }}"
        inactive-color "{{ $subtle }}"
    }

    border {
        width 1

        active-color "{{ $accent }}"
        inactive-color "{{ $base }}"
    }
}
