#!/bin/bash
cm="chezmoi -S ~/Git/dotfiles -c ~/Git/dotfiles/chezmoi.toml --persistent-state ~/.config/chezmoi/chezmoistate.boltdb"
{{ if not (eq .chezmoi.os "darwin") -}}
if [ $(gsettings get org.gnome.desktop.interface color-scheme) == "'prefer-light'" ]; then
    gsettings set org.gnome.desktop.interface color-scheme \'prefer-dark\'
    gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'
elif [ $(gsettings get org.gnome.desktop.interface color-scheme) == "'prefer-dark'" ]; then
    gsettings set org.gnome.desktop.interface color-scheme \'prefer-light\'
    gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita'
elif [ $(gsettings get org.gnome.desktop.interface color-scheme) == "'default'" ]; then
    gsettings set org.gnome.desktop.interface color-scheme \'prefer-light\'
    gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita'
fi;
$cm apply --force \
    ~/.config/sway/config \
    ~/.config/niri/config.kdl \
    ~/.config/k9s/config.yaml \
    ~/.config/fuzzel/fuzzel.ini \
    ~/.config/zellij/config.kdl
swaymsg reload
{{ else }}
osascript -e 'tell app "System Events" to tell appearance preferences to set dark mode to not dark mode'
$cm apply --force \
    ~/.config/k9s/config.yaml \
    ~/.config/zellij/config.kdl
{{ end }}
