#!/bin/bash
cm="chezmoi -S ~/Git/dotfiles -c ~/Git/dotfiles/chezmoi.toml --persistent-state ~/.config/chezmoi/chezmoistate.boltdb"
{{ if not (eq .chezmoi.os "darwin") -}}
if [ $(gsettings get org.gnome.desktop.interface color-scheme) == "'prefer-light'" ]; then
    gsettings set org.gnome.desktop.interface color-scheme \'prefer-dark\'
    gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'
elif [ $(gsettings get org.gnome.desktop.interface color-scheme) == "'prefer-dark'" ]; then
    gsettings set org.gnome.desktop.interface color-scheme \'prefer-light\'
    gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita'
fi;
$cm apply --force \
    ~/.config/i3/config \
    ~/.config/conky/conkyrc-i3bar \
    ~/.config/rofi/config.rasi \
    ~/.config/k9s/config.yaml \
    ~/.vimrc.color \
    ~/.config/tmux/tmux.conf \
    ~/.config/zellij/config.kdl \
    ~/.config/dunst/dunstrc
systemctl --user restart dunst
i3-msg restart
{{ else }}
osascript -e 'tell app "System Events" to tell appearance preferences to set dark mode to not dark mode'
$cm apply --force \
    ~/.config/k9s/config.yaml \
    ~/.vimrc.color \
    ~/.config/zellij/config.kdl \
    ~/.config/tmux/tmux.conf
{{ end }}
