#!/usr/bin/env bash
# Source: https://github.com/carnager/rofi-pass/blob/master/rofi-pass
#
{{ if eq .chezmoi.os "darwin" }}
_clip_in() {
    pbcopy
}
{{ else }}
_clip_in() {
    xclip -selection primary
}
_clip_in_clipboard() {
    xclip -selection clipboard
}
{{ end }}

if [ "$1" == "saved" ]  && [ -s "/tmp/.gopass_selected_password" ]; then
    selected_password=$(cat /tmp/.gopass_selected_password)
else
    {{ if eq .chezmoi.os "darwin" }}
    selected_password=$(gopass list -f | choose)
    {{ else }}
    selected_password=$(gopass list -f | rofi -dmenu -p gopass)
    {{ end }}
fi

if [ -z $selected_password ]; then
    exit
fi
echo $selected_password > /tmp/.gopass_selected_password
pass_tmp=$(gopass show -n -u $selected_password)

declare -a keys
keys+=("pass")
pass_otp_value=$(printf '%s' "${pass_tmp}" | grep 'otpauth://')
if [ ! -z $pass_otp_value ]; then
    keys+=("otp")
fi

pass_key_value=$(printf '%s' "${pass_tmp}" | grep ': ')
while read -r LINE; do
    _id="${LINE%%: *}"
    keys+=($_id)
done < <(printf '%s\n' "${pass_key_value}")

action=$(
    for k in ${keys[@]}; do
        echo $k
{{ if eq .chezmoi.os "darwin" }}
    done | choose)
{{ else -}}
    done | rofi -dmenu -p key)
{{ end -}}

if [ -z $action ]; then
    exit
fi
case $action in
    pass)
        pass=$(gopass show -o $selected_password)
        ;;
    otp)
        pass=$(gopass otp -o $selected_password)
        ;;
    *)
        pass=$(gopass show -o $selected_password $action)
        ;;
esac

{{ if eq .chezmoi.os "darwin" }}
printf '%s' "$pass" | _clip_in
# osascript -e 'display notification "Copied password" with title "Gopass" subtitle "'$selected_password'" sound name "Submarine"'
{{ else }}
printf '%s' "$pass" | _clip_in
printf '%s' "$pass" | _clip_in_clipboard
notify-send "gopass" "Copied password"
{{ end -}}
