[Unit]
Description=GPG Agent service
IgnoreOnIsolate=true
Before=default.target

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --enable-ssh-support --use-standard-socket --daemon --homedir=%h/.gnupg
ExecStop=/usr/bin/pkill gpg-agent
Restart=on-abort

[Install]
WantedBy=default.target
