[main]
font = Geist Mono:size=14
dpi-aware = no
terminal = ghostty
y-margin = 16
width = 60
inner-pad = 16
horizontal-pad = 32
vertical-pad = 24
line-height = 32
lines = 10
icon-theme = Papirus
image-size-ratio = 1
prompt = ""
exit-on-keyboard-focus-loss = no

[border]
width = 1
radius = 24

{{- $scheme := includeTemplate "color-scheme" . | trim -}}
{{- $palette := includeTemplate "tomorrow-palette" . | fromYaml -}}
{{- $c := index $palette $scheme }}

[colors]
background = {{ trimPrefix "#" $c.black0 }}ff
text = {{ trimPrefix "#" $c.white }}ff
match = {{ trimPrefix "#" $palette.dark.red }}ff
border = {{ trimPrefix "#" $c.magenta }}ff
selection = {{ trimPrefix "#" $c.black2 }}ff
selection-text = {{ trimPrefix "#" $c.magenta }}ff
selection-match = {{ trimPrefix "#" $c.magenta }}ff
prompt = {{ trimPrefix "#" $c.white }}ff
input = {{ trimPrefix "#" $c.white }}ff
