{{ $color := "light" }}
{{ if eq .chezmoi.os "darwin" -}}
{{ if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "false" -}}
{{ $color = "light" }}
{{ else if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "true" -}}
{{ $color = "dark" }}
{{ end -}}
{{ else -}}
{{ if eq (output "gsettings" "get" "org.gnome.desktop.interface" "gtk-theme" | trim) "'Adwaita'" -}}
{{ $color = "light" }}
{{ else if eq (output "gsettings" "get" "org.gnome.desktop.interface" "gtk-theme" | trim) "'Adwaita-dark'" -}}
{{ $color = "dark" }}
{{ end -}}
{{ end -}}

{{ if eq $color "light" }}
theme = "rose_pine_dawn"
{{ else }}
theme = "rose_pine"
{{ end }}

[editor]
line-number = "relative"

[keys.normal."+"]
h = "hsplit"
v = "vsplit"
c = "wclose"
"+" = "rotate_view"
s = ":w"
x = ":x"
q = ":q"
Q = ":q!"
