alias vi="/usr/bin/vim"

export SSH_AUTH_SOCK=/run/user/{{ user.uid }}/gnupg/S.gpg-agent.ssh
export CHROMIUM_FLAGS="--force-device-scale-factor=1.75"

# hack - how to move this line in a systemd unit?
/bin/echo UPDATESTARTUPTTY | gpg-connect-agent > /dev/null
