alias vi="/usr/bin/vim"

export SSH_AUTH_SOCK=/run/user/1000/gnupg/S.gpg-agent.ssh
export CHROMIUM_FLAGS="--force-device-scale-factor=1.75"

if [ -z "$DISPLAY" ] && [ -n "$XDG_VTNR" ] && [ "$XDG_VTNR" -eq 1 ]; then
  exec startx
fi

# Set GPG TTY
export GPG_TTY=$(tty)

# Refresh gpg-agent tty in case user switches into an X session
gpg-connect-agent updatestartuptty /bye >/dev/null
