{{- $palette := includeTemplate "rose-pine-palette" . | fromYaml -}}
{{- $d := $palette.dark -}}
# Local Rose Pine Rio theme (dark).
# Color palette: Rose Pine
# ---
# black0      "{{ $d.black0 }}" darkest
# black1      "{{ $d.black1 }}" bg
# black2      "{{ $d.black2 }}" ui
# black3      "{{ $d.black3 }}" ui-selected
# black4      "{{ $d.black4 }}" tx-3
# black5      "{{ $d.black5 }}" tx-2
# white       "{{ $d.white }}" tx
# red         "{{ $d.red }}" re
# orange      "{{ $d.orange }}" or
# yellow      "{{ $d.yellow }}" ye
# green       "{{ $d.green2 }}" gr
# cyan        "{{ $d.cyan }}" cy
# blue        "{{ $d.blue }}" bl
# magenta     "{{ $d.magenta }}" ma

[colors]
background = '{{ $d.black1 }}'
foreground = '{{ $d.white }}'
selection-background = '{{ $d.black3 }}'
selection-foreground = '{{ $d.white }}'

cursor = '{{ $d.white }}'

tabs = '{{ $d.black1 }}'
tabs-active = '{{ $d.black2 }}'

black = '{{ $d.black2 }}'
red = '{{ $d.red }}'
green = '{{ $d.green2 }}'
yellow = '{{ $d.yellow }}'
blue = '{{ $d.blue }}'
magenta = '{{ $d.magenta }}'
cyan = '{{ $d.cyan }}'
white = '{{ $d.white }}'

dim-black = '{{ $d.black4 }}'
dim-red = '{{ $d.red }}'
dim-green = '{{ $d.green2 }}'
dim-yellow = '{{ $d.yellow }}'
dim-blue = '{{ $d.blue }}'
dim-magenta = '{{ $d.magenta }}'
dim-cyan = '{{ $d.cyan }}'
dim-white = '{{ $d.white }}'

light-black = '{{ $d.black4 }}'
light-red = '{{ $d.red }}'
light-green = '{{ $d.green2 }}'
light-yellow = '{{ $d.yellow }}'
light-blue = '{{ $d.blue }}'
light-magenta = '{{ $d.magenta }}'
light-cyan = '{{ $d.cyan }}'
light-white = '{{ $d.white }}'
