[user]
{% if users[ansible_user].gpg_signkey is defined %}
  signingkey = {{ users[ansible_user].gpg_signkey }}
{% endif %}
  name = {{ users[ansible_user].firstname }} {{ users[ansible_user].surname }}
  email = {{ users[ansible_user].mail }}
