conky.config = {
  out_to_x = false,
  own_window = false,
  out_to_console = true,
  background = false,
  max_text_width = 0,
  update_interval = 2.0,
  total_run_times = 0,
  short_units = true,
  if_up_strictness = address,
  use_spacer = left,
  override_utf8_locale = true,
  cpu_avg_samples = 2
}

conky.text = [[
[
${if_existing /sys/class/power_supply/BAT0}{"full_text": "bat: ${battery_percent BAT0}%", "color":"\#c1c1c1"},${endif}
{"full_text": "${time %a, %d.%m.%Y}", "color":"\#818181"},
{"full_text": "${time %H:%M}", "color":"\#818181"}
],
]]