{{ $color := "light" }}
{{ if eq .chezmoi.os "darwin" -}}
{{ if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "false" -}}
{{ $color = "light" }}
{{ else if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "true" -}}
{{ $color = "dark" }}
{{ end -}}
{{ else -}}
{{ if eq (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim) "'prefer-light'" -}}
{{ $color = "light" }}
{{ else if eq (output "gsettings" "get" "org.gnome.desktop.interface" "color-scheme" | trim) "'prefer-dark'" -}}
{{ $color = "dark" }}
{{ end -}}
{{ end -}}

# style name or JSON path (default "auto")
{{ if eq $color "light" }}
style: {{ .chezmoi.destDir }}/.config/glow/rose-pine-dawn.json
{{ else }}
style: {{ .chezmoi.destDir }}/.config/glow/rose-pine.json
{{ end }}

mouse: true
tui: true
width: 80
all: false
