{{ if eq .chezmoi.os "darwin" -}}
{{ if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "false" -}}
{{ .chezmoi.homeDir }}/.config/k9s/gruvbox-light.yml
{{ else if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "true" -}}
{{ .chezmoi.homeDir }}/.config/k9s/gruvbox-dark.yml
{{ else -}}
{{ .chezmoi.homeDir }}/.config/k9s/gruvbox-light.yml
{{ end -}}
{{ else -}}
{{ if eq (output "gsettings" "get" "org.gnome.desktop.interface" "gtk-theme" | trim) "'Adwaita'" -}}
{{ .chezmoi.homeDir }}/.config/k9s/gruvbox-light.yml
{{ else if eq (output "gsettings" "get" "org.gnome.desktop.interface" "gtk-theme" | trim) "'Adwaita-dark'" -}}
{{ .chezmoi.homeDir }}/.config/k9s/gruvbox-dark.yml
{{ else -}}
{{ .chezmoi.homeDir }}/.config/k9s/gruvbox-light.yml
{{ end -}}
{{ end -}}
