{{- $scheme := includeTemplate "color-scheme" . | trim -}}
{{- $palette := includeTemplate "ayu-palette" . | fromYaml -}}
{{- $c := index $palette $scheme -}}

set -g fish_color_normal {{ trimPrefix "#" $c.white }}
set -g fish_color_command {{ trimPrefix "#" $c.orange }}
set -g fish_color_keyword {{ trimPrefix "#" $c.green }}
set -g fish_color_quote {{ trimPrefix "#" $c.cyan }}
set -g fish_color_redirection {{ trimPrefix "#" $c.magenta }}
set -g fish_color_end {{ trimPrefix "#" $c.magenta }}
set -g fish_color_error {{ trimPrefix "#" $c.red }}
set -g fish_color_param {{ trimPrefix "#" $c.blue }}
set -g fish_color_operator {{ trimPrefix "#" $c.black5 }}
set -g fish_color_comment {{ trimPrefix "#" $c.black4 }}

set -g fish_pager_color_description {{ trimPrefix "#" $c.black4 }}
set -g fish_pager_color_selected_prefix {{ trimPrefix "#" $c.black0 }}
set -g fish_pager_color_selected_completion {{ trimPrefix "#" $c.black1 }}
set -g fish_pager_color_selected_description {{ trimPrefix "#" $c.black2 }}
set -g fish_pager_color_selected_background --background={{ trimPrefix "#" $c.white }}

{{- $blue := includeTemplate "hex2rgb" $c.blue -}}
{{- $cyan := includeTemplate "hex2rgb" $c.cyan -}}
{{- $green := includeTemplate "hex2rgb" $c.green -}}
{{- $magenta := includeTemplate "hex2rgb" $c.magenta -}}
{{- $yellow := includeTemplate "hex2rgb" $c.yellow -}}
{{- $red := includeTemplate "hex2rgb" $c.red -}}
{{- $orange := includeTemplate "hex2rgb" $c.orange -}}
{{- $fg := includeTemplate "hex2rgb" $c.white -}}
{{- $muted := includeTemplate "hex2rgb" $c.black5 }}
set -gx FZF_DEFAULT_OPTS "\
--color=fg:{{ $c.white }},bg:{{ $c.black1 }},hl:{{ $c.red }} \
--color=fg+:{{ $c.white }},bg+:{{ $c.black3 }},hl+:{{ $c.red }} \
--color=border:{{ $c.magenta }},header:{{ $c.blue }},gutter:{{ $c.black1 }} \
--color=spinner:{{ $c.cyan }},info:{{ $c.cyan }},separator:{{ $c.black2 }} \
--color=pointer:{{ $c.orange }},marker:{{ $c.green }},prompt:{{ $c.orange }}"
{{- $struct := list
  (dict "c" (printf "1;38;2;%s" $blue)  "k" (list "di" "tw" "ow"))
  (dict "c" (printf "38;2;%s"   $cyan)  "k" (list "ln"))
  (dict "c" (printf "1;38;2;%s" $green) "k" (list "ex"))
  (dict "c" (printf "38;2;%s"   $magenta) "k" (list "so"))
  (dict "c" (printf "38;2;%s"   $yellow)  "k" (list "pi" "bd" "cd"))
  (dict "c" (printf "38;2;%s"   $red)     "k" (list "su" "sg" "or" "mi")) -}}
{{- $exts := list
  (dict "c" $magenta "e" (list "tar" "tgz" "gz" "zip" "7z" "xz" "zst" "bz2" "rar" "mp4" "mkv" "mov" "webm" "avi"))
  (dict "c" $yellow  "e" (list "jpg" "jpeg" "png" "gif" "svg" "webp" "ico" "bmp"))
  (dict "c" $cyan    "e" (list "mp3" "flac" "wav" "ogg" "m4a"))
  (dict "c" $fg      "e" (list "md" "txt"))
  (dict "c" $red     "e" (list "pdf" "epub"))
  (dict "c" $orange  "e" (list "json" "yaml" "yml" "toml" "ini" "conf"))
  (dict "c" $muted   "e" (list "bak" "tmp" "swp" "log")) }}
set -gx LS_COLORS "{{ range $s := $struct }}{{ range $s.k }}{{ . }}={{ $s.c }}:{{ end }}{{ end }}{{ range $g := $exts }}{{ range $g.e }}*.{{ . }}=38;2;{{ $g.c }}:{{ end }}{{ end }}*~=38;2;{{ $muted }}"
