{{- $scheme := includeTemplate "color-scheme" . | trim -}}
{{- $palette := includeTemplate "ayu-palette" . | fromYaml -}}
{{- $c := index $palette $scheme -}}

set -g fish_color_normal {{ trimPrefix "#" $c.white }}
set -g fish_color_command {{ trimPrefix "#" $c.orange }}
set -g fish_color_keyword {{ trimPrefix "#" $c.green }}
set -g fish_color_quote {{ trimPrefix "#" $c.cyan }}
set -g fish_color_redirection {{ trimPrefix "#" $c.magenta }}
set -g fish_color_end {{ trimPrefix "#" $c.magenta }}
set -g fish_color_error {{ trimPrefix "#" $c.red }}
set -g fish_color_param {{ trimPrefix "#" $c.blue }}
set -g fish_color_operator {{ trimPrefix "#" $c.black5 }}
set -g fish_color_comment {{ trimPrefix "#" $c.black4 }}

set -g fish_pager_color_description {{ trimPrefix "#" $c.black4 }}
set -g fish_pager_color_selected_prefix {{ trimPrefix "#" $c.black0 }}
set -g fish_pager_color_selected_completion {{ trimPrefix "#" $c.black1 }}
set -g fish_pager_color_selected_description {{ trimPrefix "#" $c.black2 }}
set -g fish_pager_color_selected_background --background={{ trimPrefix "#" $c.white }}

{{- if eq $scheme "light" }}
set -gx FZF_DEFAULT_OPTS "--color=fg:#5c6166,bg:#f8f9fa,hl:#f07171 --color=fg+:#5c6166,bg+:#ebeef0,hl+:#f07171 --color=border:#a37acc,header:#399ee6,gutter:#f8f9fa --color=spinner:#4cbf99,info:#4cbf99,separator:#ebeef0 --color=pointer:#ffaa33,marker:#86b300,prompt:#ffaa33"
{{- else }}
set -gx FZF_DEFAULT_OPTS "--color=fg:#cccac2,bg:#1f2430,hl:#f28779 --color=fg+:#cccac2,bg+:#2d3340,hl+:#f28779 --color=border:#dfbfff,header:#73d0ff,gutter:#1f2430 --color=spinner:#95e6cb,info:#95e6cb,separator:#242936 --color=pointer:#ffcc66,marker:#d5ff80,prompt:#ffcc66"
{{- end }}
