alias pass="gopass"
alias ls="exa --long --header --git"

function cat
    {{ if eq .chezmoi.os "darwin" -}}
    set THEME (string trim (osascript -e 'tell app "System Events" to tell appearance preferences to get dark mode'))
    if [ "$THEME" = false ]
        bat -pp --theme=gruvbox-light $argv
    else if [ "$THEME" = true ]
        bat -pp --theme=gruvbox-dark $argv
    else
        bat -pp $argv
    end
    {{ else -}}
    set THEME (string trim (gsettings get org.gnome.desktop.interface gtk-theme))
    if [ "$THEME" = "'Adwaita'" ]
        bat -pp --theme=gruvbox-light $argv
    else if [ "$THEME" = "'Adwaita-dark'" ]
        bat -pp --theme=gruvbox-dark $argv
    else
        bat -pp $argv
    end
    {{ end -}}
end

alias l="ls"
alias cm="chezmoi -S ~/Git/dotfiles -c ~/Git/dotfiles/chezmoi.toml --persistent-state ~/.config/chezmoi/chezmoistate.boltdb"
alias cms="chezmoi -S ~/Git/Security -c ~/Git/Security/chezmoi.toml --persistent-state ~/.config/chezmoi/chezmoistate-security.boltdb"
alias co="consul"
alias no="nomad"
alias va="vault"
alias tf="terraform"
alias k="kubectl"

export EDITOR=emacs
export TERM=xterm-256color
export XDG_CURRENT_DESKTOP=X-Generic

set -x GOPATH $HOME/go

fish_add_path /opt/homebrew/bin
fish_add_path /usr/local/bin
set -U fish_greeting "🐟"

starship init fish | source
