set -U fish_greeting ""

alias pass="gopass"
alias ls="exa --long --header --git"

function cat
    {{ if eq .chezmoi.os "darwin" -}}
    set THEME (string trim (osascript -e 'tell app "System Events" to tell appearance preferences to get dark mode'))
    if [ "$THEME" = false ]
        bat -pp --theme=gruvbox-light $argv
    else if [ "$THEME" = true ]
        bat -pp --theme=gruvbox-dark $argv
    else
        bat -pp $argv
    end
    {{ else -}}
    set THEME (string trim (gsettings get org.gnome.desktop.interface gtk-theme))
    if [ "$THEME" = "'Adwaita'" ]
        bat -pp --theme=gruvbox-light $argv
    else if [ "$THEME" = "'Adwaita-dark'" ]
        bat -pp --theme=gruvbox-dark $argv
    else
        bat -pp $argv
    end
    {{ end -}}
end

abbr --add l ls
abbr --add tm tmux
abbr --add v nvim
abbr --add gs "git status"
abbr --add lg lazygit
abbr --add co consul
abbr --add no nomad
abbr --add va vault
abbr --add tf terraform
abbr --add k kubectl
{{ if eq .chezmoi.os "darwin" -}}
abbr --add t task
{{ else -}}
abbr --add t go-task
{{ end -}}
alias cm="chezmoi -S ~/Git/dotfiles -c ~/Git/dotfiles/chezmoi.toml --persistent-state ~/.config/chezmoi/chezmoistate.boltdb"
alias cms="chezmoi -S ~/Git/Security -c ~/Git/Security/chezmoi.toml --persistent-state ~/.config/chezmoi/chezmoistate-security.boltdb"
alias tal="talosctl --talosconfig ~/Git/homelab/talos/data/talosconfig"

alias nn=fzf_project
function fzf_project
    set -l dir
    if string match $PWD $HOME
        set dir (
            begin
                find $HOME/Git -mindepth 1 -maxdepth 1 -type d;
                find $HOME/Git/Work -mindepth 1 -maxdepth 1 -type d;
            end | fzf
        )
        cd $dir
        git status
    else
        set dir (fzf -0)
        if string length -q $dir
            nvim $dir
        end
    end
end
alias nd=fzf_dir
function fzf_dir
    set -l dir (find . -mindepth 1 -type d -not -path "*./.*" | fzf)
    if string length -q $dir
        cd $dir
    end
end
alias ng="cd (git rev-parse --show-toplevel)"

export EDITOR=nvim
export TERM=xterm-256color
export XDG_CURRENT_DESKTOP=X-Generic

set -x GOPATH $HOME/go

fish_add_path /opt/homebrew/bin
fish_add_path $GOPATH/bin
fish_add_path /usr/local/bin
