# adds alias for "kubectl" to "kubecolor" with completions
if type -q kubecolor
  function kubectl --wraps kubectl
    command kubecolor $argv
  end

# adds alias for "k" to "kubecolor" with completions
  function k --wraps kubectl
    command kubecolor $argv
  end

# reuse "kubectl" completions on "kubecolor"
  function kubecolor --wraps kubectl
    command kubecolor $argv
  end
end

alias k="kubectl"
alias ku="kubie"

set -x K9S_CONFIG_DIR $HOME/.config/k9s

if type -q kubectl
  kubectl completion fish | source
end

if type -q kubie
  kubie generate-completion fish | source
end
