{{- $palette := includeTemplate "rose-pine-palette" . | fromYaml -}}
{{- $d := $palette.dark -}}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>name</key>
  <string>rose-pine</string>
  <key>settings</key>
  <array>
    <dict>
      <key>settings</key>
      <dict>
        <key>background</key>
        <string>{{ $d.black1 }}</string>
        <key>caret</key>
        <string>{{ $d.white }}</string>
        <key>foreground</key>
        <string>{{ $d.white }}</string>
        <key>invisibles</key>
        <string>{{ $d.black3 }}</string>
        <key>lineHighlight</key>
        <string>{{ $d.black2 }}</string>
        <key>selection</key>
        <string>{{ $d.black3 }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Comment</string>
      <key>scope</key>
      <string>comment</string>
      <key>settings</key>
      <dict>
        <key>fontStyle</key>
        <string>italic</string>
        <key>foreground</key>
        <string>{{ $d.black4 }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>String</string>
      <key>scope</key>
      <string>string, punctuation.definition.string</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $d.orange }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Constant</string>
      <key>scope</key>
      <string>constant, constant.numeric, constant.language</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $d.orange }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Keyword</string>
      <key>scope</key>
      <string>keyword, storage, storage.type</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $d.red }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Function</string>
      <key>scope</key>
      <string>entity.name.function, support.function</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $d.blue }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Type</string>
      <key>scope</key>
      <string>entity.name.type, entity.name.class, support.type, support.class</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $d.cyan }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Variable</string>
      <key>scope</key>
      <string>variable, variable.parameter</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $d.white }}</string>
      </dict>
    </dict>
    <dict>
      <key>name</key>
      <string>Invalid</string>
      <key>scope</key>
      <string>invalid, invalid.illegal</string>
      <key>settings</key>
      <dict>
        <key>foreground</key>
        <string>{{ $d.red }}</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
