{{ $color := "light" }}
{{ if eq .chezmoi.os "darwin" -}}
{{ if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "false" -}}
{{ $color = "light" }}
{{ else if eq (output "osascript" "-e" "tell app \"System Events\" to tell appearance preferences to get dark mode" | trim) "true" -}}
{{ $color = "dark" }}
{{ end -}}
{{ else -}}
{{ if eq (output "gsettings" "get" "org.gnome.desktop.interface" "gtk-theme" | trim) "'Adwaita'" -}}
{{ $color = "light" }}
{{ else if eq (output "gsettings" "get" "org.gnome.desktop.interface" "gtk-theme" | trim) "'Adwaita-dark'" -}}
{{ $color = "dark" }}
{{ end -}}
{{ end -}}

{{ if eq $color "light" }}
[global]
frame_color = "#ebdbb2"
separator_color= frame

[urgency_low]
background = "#fbf1c7"
foreground = "#3c3735"
frame_color = "#fbf1c7"

[urgency_normal]
background = "#fbf1c7"
foreground = "#3c3735"
frame_color = "#3c3735"

[urgency_critical]
background = "#fbf1c7"
foreground = "#3c3735"
frame_color = "#cc231c"

{{ else }}
[global]
frame_color = "#3c3735"
separator_color= frame

[urgency_low]
background = "#272727"
foreground = "#ebdbb2"
frame_color = "#272727"

[urgency_normal]
background = "#272727"
foreground = "#ebdbb2"
frame_color = "#ebdbb2"

[urgency_critical]
background = "#272727"
foreground = "#ebdbb2"
frame_color = "#cc231c"
{{ end }}
