[Unit]
Description=Relay the SSH agent socket to the Windows agent
ConditionVirtualization=wsl
Conflicts=gpg-agent.service gpg-agent.socket gpg-agent-ssh.socket gpg-agent-extra.socket gpg-agent-browser.socket
After=gpg-agent.service gpg-agent.socket gpg-agent-ssh.socket gpg-agent-extra.socket gpg-agent-browser.socket

[Service]
ExecStart=%h/.scripts/wsl-agent-relay.sh gpgconf-agent-ssh-socket //./pipe/openssh-ssh-agent
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
