[Unit]
Description=nvibrant
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/sbin/nvibrant
ExecStop=/usr/sbin/nvibrant 0 0 0 0 0 0 0
Environment="ATTRIBUTE=dithering"
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=graphical-session.target
