[Unit]
Description=swww
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/sbin/swww-daemon
Restart=always
RestartSec=5s

[Install]
WantedBy=graphical-session.target
