{{- if eq .chezmoi.os "linux" }}
[Unit]
Description=Syncthing - Open Source Continuous File Synchronization
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/syncthing serve --no-browser --no-restart
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
{{- end }}
