[Unit]
Description=wlsunset
Requires=dbus.socket

[Service]
ExecStart=/usr/bin/wlsunset -t 6000:2800 -l 47.23:-1.63
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
