[Unit]
Description=wlsunset
PartOf=default.target

[Service]
ExecCondition=/bin/sh -c 'case "$${XDG_CURRENT_DESKTOP:-}" in *GNOME*|*KDE*) exit 1 ;; *) exit 0 ;; esac'
ExecStart=/usr/bin/wlsunset -T 6000 -t 3400 -l 47.23 -L -1.5
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
