[Unit]
Description=xwayland-satellite
BindsTo=graphical-session.target
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=XDG_CURRENT_DESKTOP=niri

[Service]
ExecStartPre=/bin/sleep 1
ExecStart=/usr/sbin/xwayland-satellite
Type=notify
NotifyAccess=all
StandardOutput=journal
Restart=always
RestartSec=5s

[Install]
WantedBy=graphical-session.target
